// LOGIN STYLES
// 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

// BUTTON STYLE =============>
.button-container {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  outline: none;
  border: none;
}

.page_data_null_wrapper {
  margin-top: 15px;
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
}

// PAGE NULL DATA ============>
